USE [master]
GO
/****** Object:  Database [road_mate]    Script Date: 11/11/2025 12:53:37 AM ******/
CREATE DATABASE [road_mate]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'road_mate', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\road_mate.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'road_mate_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\road_mate_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [road_mate].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [road_mate]
GO
/****** Object:  Table [dbo].[Admin]    Script Date: 11/11/2025 12:53:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin](
	[admin_id] [int] IDENTITY(1,1) NOT NULL,
	[admin_fn] [nvarchar](100) NOT NULL,
	[admin_ln] [nvarchar](100) NOT NULL,
	[user_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[admin_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CarOwner]    Script Date: 11/11/2025 12:53:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CarOwner](
	[carOwner_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[carOwner_fn] [nvarchar](100) NOT NULL,
	[carOwner_ln] [nvarchar](100) NOT NULL,
	[pending_payment_count] [int] NULL,
	[account_status] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[carOwner_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Driver]    Script Date: 11/11/2025 12:53:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Driver](
	[driver_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[company_id] [int] NOT NULL,
	[driver_fn] [nvarchar](100) NOT NULL,
	[driver_ln] [nvarchar](100) NOT NULL,
	[driving_license] [nvarchar](50) NOT NULL,
	[id_number] [nvarchar](50) NULL,
	[profile_picture_url] [nvarchar](255) NULL,
	[driver_status] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[driver_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DriverSchedule]    Script Date: 11/11/2025 12:53:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DriverSchedule](
	[schedule_id] [int] IDENTITY(1,1) NOT NULL,
	[driver_id] [int] NOT NULL,
	[start_time] [datetime] NULL,
	[end_time] [datetime] NULL,
	[availability_status] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[schedule_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Invoice]    Script Date: 11/11/2025 12:53:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Invoice](
	[invoice_id] [int] IDENTITY(1,1) NOT NULL,
	[payment_id] [int] NOT NULL,
	[invoice_number] [nvarchar](50) NOT NULL,
	[issue_date] [datetime] NULL,
	[due_date] [datetime] NULL,
	[tax_amount] [decimal](10, 2) NULL,
	[total_amount] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[invoice_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[invoice_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LocationLog]    Script Date: 11/11/2025 12:53:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LocationLog](
	[location_log_id] [int] IDENTITY(1,1) NOT NULL,
	[response_id] [int] NOT NULL,
	[latitude] [decimal](10, 6) NULL,
	[longitude] [decimal](10, 6) NULL,
	[timestamp] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[location_log_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notification]    Script Date: 11/11/2025 12:53:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notification](
	[notification_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[request_id] [int] NULL,
	[notification_type] [nvarchar](100) NULL,
	[status] [nvarchar](50) NULL,
	[created_at] [datetime] NULL,
	[message] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[notification_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payment]    Script Date: 11/11/2025 12:53:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payment](
	[payment_id] [int] IDENTITY(1,1) NOT NULL,
	[request_id] [int] NOT NULL,
	[upfront_cost] [decimal](10, 2) NULL,
	[estimated_cost] [decimal](10, 2) NULL,
	[total_cost] [decimal](10, 2) NULL,
	[discount_amount] [decimal](10, 2) NULL,
	[fine_amount] [decimal](10, 2) NULL,
	[payment_method] [nvarchar](50) NULL,
	[payment_status] [nvarchar](50) NULL,
	[created_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[payment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ServiceRequest]    Script Date: 11/11/2025 12:53:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ServiceRequest](
	[request_id] [int] IDENTITY(1,1) NOT NULL,
	[vehicle_id] [int] NOT NULL,
	[service_type] [nvarchar](100) NULL,
	[problem_description] [nvarchar](max) NULL,
	[photo_url] [nvarchar](255) NULL,
	[request_status] [nvarchar](50) NULL,
	[request_latitude] [decimal](10, 6) NULL,
	[request_longitude] [decimal](10, 6) NULL,
	[requested_at] [datetime] NULL,
	[cancellation_reason] [nvarchar](255) NULL,
	[cancellation_time] [datetime] NULL,
	[fine_amount] [decimal](10, 2) NULL,
	[company_id] [int] NULL,
	[address] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[request_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ServiceResponse]    Script Date: 11/11/2025 12:53:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ServiceResponse](
	[response_id] [int] IDENTITY(1,1) NOT NULL,
	[request_id] [int] NOT NULL,
	[driver_id] [int] NOT NULL,
	[towTruck_id] [int] NOT NULL,
	[schedule_id] [int] NOT NULL,
	[start_date] [datetime] NULL,
	[end_date] [datetime] NULL,
	[assigned_at] [datetime] NULL,
	[arrived_at] [datetime] NULL,
	[completed_at] [datetime] NULL,
	[estimated_arrival_time] [datetime] NULL,
	[status] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[response_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TowingCompany]    Script Date: 11/11/2025 12:53:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TowingCompany](
	[company_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[admin_id] [int] NULL,
	[company_name] [nvarchar](100) NOT NULL,
	[commercial_registration_number] [nvarchar](50) NULL,
	[contact_phone] [nvarchar](20) NULL,
	[logo_url] [nvarchar](255) NULL,
	[location_latitude] [decimal](10, 6) NULL,
	[location_longitude] [decimal](10, 6) NULL,
	[address] [nvarchar](255) NULL,
	[city] [nvarchar](100) NULL,
	[status] [int] NOT NULL,
 CONSTRAINT [PK__TowingCo__3E2672358430DC53] PRIMARY KEY CLUSTERED 
(
	[company_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TowTruck]    Script Date: 11/11/2025 12:53:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TowTruck](
	[towTruck_id] [int] IDENTITY(1,1) NOT NULL,
	[company_id] [int] NOT NULL,
	[plate_number] [nvarchar](50) NOT NULL,
	[towTruck_model] [nvarchar](100) NULL,
	[towTruck_status] [nvarchar](50) NULL,
	[towTruck_year] [int] NULL,
	[towTruck_capacity] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[towTruck_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[plate_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 11/11/2025 12:53:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[email] [nvarchar](100) NOT NULL,
	[password] [nvarchar](255) NOT NULL,
	[phone_number] [nvarchar](20) NOT NULL,
	[date] [datetime] NULL,
	[user_type] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vehicle]    Script Date: 11/11/2025 12:53:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vehicle](
	[vehicle_id] [int] IDENTITY(1,1) NOT NULL,
	[carOwner_id] [int] NOT NULL,
	[vehicle_brand] [nvarchar](100) NULL,
	[vehicle_model] [nvarchar](100) NULL,
	[vehicle_year] [int] NULL,
	[vehicle_color] [nvarchar](50) NULL,
	[license_plate] [nvarchar](50) NOT NULL,
	[VIN] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[vehicle_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[VIN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[license_plate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CarOwner] ADD  DEFAULT ((0)) FOR [pending_payment_count]
GO
ALTER TABLE [dbo].[Invoice] ADD  DEFAULT (getdate()) FOR [issue_date]
GO
ALTER TABLE [dbo].[LocationLog] ADD  DEFAULT (getdate()) FOR [timestamp]
GO
ALTER TABLE [dbo].[Notification] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Payment] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[ServiceRequest] ADD  DEFAULT (getdate()) FOR [requested_at]
GO
ALTER TABLE [dbo].[TowingCompany] ADD  DEFAULT ((0)) FOR [status]
GO
ALTER TABLE [dbo].[User] ADD  DEFAULT (getdate()) FOR [date]
GO
ALTER TABLE [dbo].[Admin]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[User] ([user_id])
GO
ALTER TABLE [dbo].[Admin]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[User] ([user_id])
GO
ALTER TABLE [dbo].[CarOwner]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[User] ([user_id])
GO
ALTER TABLE [dbo].[CarOwner]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[User] ([user_id])
GO
ALTER TABLE [dbo].[Driver]  WITH CHECK ADD  CONSTRAINT [FK__Driver__company___18EBB532] FOREIGN KEY([company_id])
REFERENCES [dbo].[TowingCompany] ([company_id])
GO
ALTER TABLE [dbo].[Driver] CHECK CONSTRAINT [FK__Driver__company___18EBB532]
GO
ALTER TABLE [dbo].[Driver]  WITH CHECK ADD  CONSTRAINT [FK__Driver__company___5CD6CB2B] FOREIGN KEY([company_id])
REFERENCES [dbo].[TowingCompany] ([company_id])
GO
ALTER TABLE [dbo].[Driver] CHECK CONSTRAINT [FK__Driver__company___5CD6CB2B]
GO
ALTER TABLE [dbo].[Driver]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[User] ([user_id])
GO
ALTER TABLE [dbo].[Driver]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[User] ([user_id])
GO
ALTER TABLE [dbo].[DriverSchedule]  WITH CHECK ADD FOREIGN KEY([driver_id])
REFERENCES [dbo].[Driver] ([driver_id])
GO
ALTER TABLE [dbo].[DriverSchedule]  WITH CHECK ADD FOREIGN KEY([driver_id])
REFERENCES [dbo].[Driver] ([driver_id])
GO
ALTER TABLE [dbo].[Invoice]  WITH CHECK ADD FOREIGN KEY([payment_id])
REFERENCES [dbo].[Payment] ([payment_id])
GO
ALTER TABLE [dbo].[Invoice]  WITH CHECK ADD FOREIGN KEY([payment_id])
REFERENCES [dbo].[Payment] ([payment_id])
GO
ALTER TABLE [dbo].[LocationLog]  WITH CHECK ADD FOREIGN KEY([response_id])
REFERENCES [dbo].[ServiceResponse] ([response_id])
GO
ALTER TABLE [dbo].[LocationLog]  WITH CHECK ADD FOREIGN KEY([response_id])
REFERENCES [dbo].[ServiceResponse] ([response_id])
GO
ALTER TABLE [dbo].[Notification]  WITH CHECK ADD FOREIGN KEY([request_id])
REFERENCES [dbo].[ServiceRequest] ([request_id])
GO
ALTER TABLE [dbo].[Notification]  WITH CHECK ADD FOREIGN KEY([request_id])
REFERENCES [dbo].[ServiceRequest] ([request_id])
GO
ALTER TABLE [dbo].[Notification]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[User] ([user_id])
GO
ALTER TABLE [dbo].[Notification]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[User] ([user_id])
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD FOREIGN KEY([request_id])
REFERENCES [dbo].[ServiceRequest] ([request_id])
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD FOREIGN KEY([request_id])
REFERENCES [dbo].[ServiceRequest] ([request_id])
GO
ALTER TABLE [dbo].[ServiceRequest]  WITH CHECK ADD FOREIGN KEY([vehicle_id])
REFERENCES [dbo].[Vehicle] ([vehicle_id])
GO
ALTER TABLE [dbo].[ServiceRequest]  WITH CHECK ADD FOREIGN KEY([vehicle_id])
REFERENCES [dbo].[Vehicle] ([vehicle_id])
GO
ALTER TABLE [dbo].[ServiceRequest]  WITH CHECK ADD  CONSTRAINT [FK_ServiceRequest_Company] FOREIGN KEY([company_id])
REFERENCES [dbo].[TowingCompany] ([company_id])
GO
ALTER TABLE [dbo].[ServiceRequest] CHECK CONSTRAINT [FK_ServiceRequest_Company]
GO
ALTER TABLE [dbo].[ServiceResponse]  WITH CHECK ADD FOREIGN KEY([driver_id])
REFERENCES [dbo].[Driver] ([driver_id])
GO
ALTER TABLE [dbo].[ServiceResponse]  WITH CHECK ADD FOREIGN KEY([driver_id])
REFERENCES [dbo].[Driver] ([driver_id])
GO
ALTER TABLE [dbo].[ServiceResponse]  WITH CHECK ADD FOREIGN KEY([request_id])
REFERENCES [dbo].[ServiceRequest] ([request_id])
GO
ALTER TABLE [dbo].[ServiceResponse]  WITH CHECK ADD FOREIGN KEY([request_id])
REFERENCES [dbo].[ServiceRequest] ([request_id])
GO
ALTER TABLE [dbo].[ServiceResponse]  WITH CHECK ADD FOREIGN KEY([schedule_id])
REFERENCES [dbo].[DriverSchedule] ([schedule_id])
GO
ALTER TABLE [dbo].[ServiceResponse]  WITH CHECK ADD FOREIGN KEY([schedule_id])
REFERENCES [dbo].[DriverSchedule] ([schedule_id])
GO
ALTER TABLE [dbo].[ServiceResponse]  WITH CHECK ADD FOREIGN KEY([towTruck_id])
REFERENCES [dbo].[TowTruck] ([towTruck_id])
GO
ALTER TABLE [dbo].[ServiceResponse]  WITH CHECK ADD FOREIGN KEY([towTruck_id])
REFERENCES [dbo].[TowTruck] ([towTruck_id])
GO
ALTER TABLE [dbo].[TowingCompany]  WITH CHECK ADD  CONSTRAINT [FK__TowingCom__admin__25518C17] FOREIGN KEY([admin_id])
REFERENCES [dbo].[Admin] ([admin_id])
GO
ALTER TABLE [dbo].[TowingCompany] CHECK CONSTRAINT [FK__TowingCom__admin__25518C17]
GO
ALTER TABLE [dbo].[TowingCompany]  WITH CHECK ADD  CONSTRAINT [FK__TowingCom__admin__534D60F1] FOREIGN KEY([admin_id])
REFERENCES [dbo].[Admin] ([admin_id])
GO
ALTER TABLE [dbo].[TowingCompany] CHECK CONSTRAINT [FK__TowingCom__admin__534D60F1]
GO
ALTER TABLE [dbo].[TowingCompany]  WITH CHECK ADD  CONSTRAINT [FK__TowingCom__user___2645B050] FOREIGN KEY([user_id])
REFERENCES [dbo].[User] ([user_id])
GO
ALTER TABLE [dbo].[TowingCompany] CHECK CONSTRAINT [FK__TowingCom__user___2645B050]
GO
ALTER TABLE [dbo].[TowingCompany]  WITH CHECK ADD  CONSTRAINT [FK__TowingCom__user___52593CB8] FOREIGN KEY([user_id])
REFERENCES [dbo].[User] ([user_id])
GO
ALTER TABLE [dbo].[TowingCompany] CHECK CONSTRAINT [FK__TowingCom__user___52593CB8]
GO
ALTER TABLE [dbo].[TowTruck]  WITH CHECK ADD  CONSTRAINT [FK__TowTruck__compan__2739D489] FOREIGN KEY([company_id])
REFERENCES [dbo].[TowingCompany] ([company_id])
GO
ALTER TABLE [dbo].[TowTruck] CHECK CONSTRAINT [FK__TowTruck__compan__2739D489]
GO
ALTER TABLE [dbo].[TowTruck]  WITH CHECK ADD  CONSTRAINT [FK__TowTruck__compan__619B8048] FOREIGN KEY([company_id])
REFERENCES [dbo].[TowingCompany] ([company_id])
GO
ALTER TABLE [dbo].[TowTruck] CHECK CONSTRAINT [FK__TowTruck__compan__619B8048]
GO
ALTER TABLE [dbo].[Vehicle]  WITH CHECK ADD FOREIGN KEY([carOwner_id])
REFERENCES [dbo].[CarOwner] ([carOwner_id])
GO
ALTER TABLE [dbo].[Vehicle]  WITH CHECK ADD FOREIGN KEY([carOwner_id])
REFERENCES [dbo].[CarOwner] ([carOwner_id])
GO
ALTER TABLE [dbo].[CarOwner]  WITH CHECK ADD CHECK  (([account_status]='Pending' OR [account_status]='Suspended' OR [account_status]='Active'))
GO
ALTER TABLE [dbo].[CarOwner]  WITH CHECK ADD CHECK  (([account_status]='Pending' OR [account_status]='Suspended' OR [account_status]='Active'))
GO
ALTER TABLE [dbo].[Driver]  WITH CHECK ADD CHECK  (([driver_status]='Inactive' OR [driver_status]='Busy' OR [driver_status]='Available'))
GO
ALTER TABLE [dbo].[Driver]  WITH CHECK ADD CHECK  (([driver_status]='Inactive' OR [driver_status]='Busy' OR [driver_status]='Available'))
GO
ALTER TABLE [dbo].[DriverSchedule]  WITH CHECK ADD CHECK  (([availability_status]='OffDuty' OR [availability_status]='Available'))
GO
ALTER TABLE [dbo].[DriverSchedule]  WITH CHECK ADD CHECK  (([availability_status]='OffDuty' OR [availability_status]='Available'))
GO
ALTER TABLE [dbo].[Notification]  WITH CHECK ADD CHECK  (([status]='Read' OR [status]='Unread'))
GO
ALTER TABLE [dbo].[Notification]  WITH CHECK ADD CHECK  (([status]='Read' OR [status]='Unread'))
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD CHECK  (([payment_method]='Online' OR [payment_method]='Card' OR [payment_method]='Cash'))
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD CHECK  (([payment_status]='Failed' OR [payment_status]='Paid' OR [payment_status]='Pending'))
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD CHECK  (([payment_method]='Online' OR [payment_method]='Card' OR [payment_method]='Cash'))
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD CHECK  (([payment_status]='Failed' OR [payment_status]='Paid' OR [payment_status]='Pending'))
GO
ALTER TABLE [dbo].[ServiceRequest]  WITH CHECK ADD CHECK  (([request_status]='Cancelled' OR [request_status]='Completed' OR [request_status]='InProgress' OR [request_status]='Accepted' OR [request_status]='Pending'))
GO
ALTER TABLE [dbo].[ServiceRequest]  WITH CHECK ADD CHECK  (([request_status]='Cancelled' OR [request_status]='Completed' OR [request_status]='InProgress' OR [request_status]='Accepted' OR [request_status]='Pending'))
GO
ALTER TABLE [dbo].[ServiceResponse]  WITH CHECK ADD CHECK  (([status]='Cancelled' OR [status]='Completed' OR [status]='Arrived' OR [status]='OnTheWay' OR [status]='Assigned'))
GO
ALTER TABLE [dbo].[ServiceResponse]  WITH CHECK ADD CHECK  (([status]='Cancelled' OR [status]='Completed' OR [status]='Arrived' OR [status]='OnTheWay' OR [status]='Assigned'))
GO
ALTER TABLE [dbo].[TowTruck]  WITH CHECK ADD CHECK  (([towTruck_status]='Maintenance' OR [towTruck_status]='InUse' OR [towTruck_status]='Available'))
GO
ALTER TABLE [dbo].[TowTruck]  WITH CHECK ADD CHECK  (([towTruck_status]='Maintenance' OR [towTruck_status]='InUse' OR [towTruck_status]='Available'))
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD CHECK  (([user_type]='Company' OR [user_type]='CarOwner' OR [user_type]='Driver' OR [user_type]='Admin'))
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD CHECK  (([user_type]='Company' OR [user_type]='CarOwner' OR [user_type]='Driver' OR [user_type]='Admin'))
GO
USE [master]
GO
